<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MNBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MNBS.Properties.Settings.MBSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MBS.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>

    <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <MNBS.Properties.Settings>
            <setting name="DEBUG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PC" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DATAS1" serializeAs="String">
                <value>DATA_S1\</value>
            </setting>
            <setting name="DATAS2" serializeAs="String">
                <value>DATA_S2\</value>
            </setting>
            <setting name="DATAJ1" serializeAs="String">
                <value>C:\MNBS\DATA_J1\</value>
            </setting>
            <setting name="DATAJ2" serializeAs="String">
                <value>C:\MNBS\DATA_J2\</value>
            </setting>
            <setting name="PathEXE" serializeAs="String">
                <value>EXE\</value>
            </setting>
            <setting name="PathFMT" serializeAs="String">
                <value>FMT\</value>
            </setting>
            <setting name="PathNG" serializeAs="String">
                <value>NG\</value>
            </setting>
            <setting name="PathMDB" serializeAs="String">
                <value>MDB\</value>
            </setting>
            <setting name="PathXLS" serializeAs="String">
                <value>XLS\</value>
            </setting>
            <setting name="PathREAD" serializeAs="String">
                <value>OCRREAD\</value>
            </setting>
            <setting name="PathOK" serializeAs="String">
                <value>OK\</value>
            </setting>
            <setting name="PathTRAY" serializeAs="String">
                <value>TRAY\</value>
            </setting>
            <setting name="PathInst" serializeAs="String">
                <value>c:\MNBS\</value>
            </setting>
            <setting name="MSTJ" serializeAs="String">
                <value>C:\MNBS\MST\2_20070314_122421パート用OCRデータ .csv</value>
            </setting>
            <setting name="PathTIF2" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDAT2" serializeAs="String">
                <value />
            </setting>
            <setting name="BKDELP" serializeAs="String">
                <value />
            </setting>
            <setting name="PCADB" serializeAs="String">
                <value />
            </setting>
            <setting name="PCADB2" serializeAs="String">
                <value />
            </setting>
            <setting name="USRDATA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintOK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintNG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrinterOK" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterNG" serializeAs="String">
                <value />
            </setting>
            <setting name="BkdelMax" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="fmt300" serializeAs="String">
                <value>fmt300.fmt</value>
            </setting>
            <setting name="fmt200" serializeAs="String">
                <value>fmt200.fmt</value>
            </setting>
            <setting name="PathSCAN" serializeAs="String">
                <value>SCAN\</value>
            </setting>
            <setting name="PathDATA" serializeAs="String">
                <value>DATA\</value>
            </setting>
            <setting name="PathWORK" serializeAs="String">
                <value>WORK\</value>
            </setting>
            <setting name="RekiHosei" serializeAs="String">
                <value>2000</value>
            </setting>
        </MNBS.Properties.Settings>
    </applicationSettings>
</configuration>